/* --- dash board wrapper --- */
.dash-board-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

/* --- chart section ---  */
.chart-container,
.history-container {
    height: 100%;
    border-radius: 5px;
}
.chart-container {
    width: 60%;
    height: 100%;
    margin: 0 2%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* --- expense section ---  */
.expense-bar {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.type-expense-container {
    width: 31.5%;
    height: inherit;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--Shadow-Content-Color);
    background: var(--White-Color);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 7%;
    overflow: hidden;
}
.type-expense-container .type-item {
    font-size: var(--Font-Size-For-Content);
    color: var(--Gray-Color);
    margin-left: 15%;
    position: relative;
    z-index: 555;
}
.type-expense-container .type-item::after {
    content: '';
    top: 50%;
    left: -17px;
    translate: 0 -50%;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--Red-Color);
}
.type-expense-container .cost-pay {
    font-size: var(--Font-Size-Amount-Cost);
    color: var(--Black-Color);
    margin-left: 15%;
    position: relative;
    z-index: 555;
    text-wrap: nowrap;
}
.type-expense-container .food,
.type-expense-container .card,
.type-expense-container .ticket {
    color: var(--Gray-Color);
    position: absolute;
    bottom: -10%;
    left: 70%;
    font-size: 70px;
}
.chart-section {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --- history sction ---  */
.history-container {
    width: 40%;
    background: var(--White-Color);
    box-shadow: 0 0 5px var(--Shadow-Content-Color);
    /* overflow-y: scroll; */
}
.history-container .topic {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--Font-Size-For-Content);
    font-weight: normal;
    border-bottom: 1px solid var(--Gray-Color);
}
.history-container .topic .icon {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
}
.item-container {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 5%;
    border-bottom: 1px solid var(--Gray-Color);
    position: relative;
}
.item-container .icon {
    width: 30px;
    height: 30px;
    border: 1px solid var(--Gray-Color);
    border-radius: 5px;
    padding: 5px;
    margin-right: 5%;
}
.detail-item {
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: auto;
}
.item-container .detail-item .item {
    font-size: var(--Font-Size-Small-Of-History-Section);
}
.item-container .detail-item .time {
    color: var(--Gray-Color);
    font-size: var(--Font-Size-Small-Of-History-Section);
}
.item-container .cost {
    font-size: var(--Font-Size-Amount-Cost);
    margin: 5%;
}
.item-container .cost.reduce {
    color: var(--Green-Color);
}
.item-container .cost.increase {
    color: var(--Red-Color);
}
.item-container .other-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 5px;
    transition: all .3s;
}
.item-container .other-icon:hover {
    background: var(--Shadow-Nav-Color);
}
.edit-remove-item-container {
    position: absolute;
    top: 80%;
    right: 5%;
    translate: 0;
    border-radius: 3px;
    box-shadow: 0 0 3px var(--Shadow-Content-Color);
    opacity: 0;
    z-index: -1;
    transition: all .3s;
}
.edit-remove-item-container.active {
    opacity: 1;
    z-index: 999;
}
.edit-remove-item-container .button {
    width: 150px;
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 10%;
    font-size: var(--Font-Size-For-Content);
    background: var(--White-Color);
    cursor: pointer;
}
.edit-remove-item-container .button:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.edit-remove-item-container .button:last-child {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

@media screen and (width <= 800px) {
    .dash-board-wrapper {
        margin: 20px 0;
    }
    .dash-board-wrapper {
        flex-direction: column;
        gap: 30px;
    }
    .chart-container {
        width: 95%;
        margin: 0;
    }
    .history-container {
        width: 95%;
        height: 400px;
    }
}
@media screen and (width <= 600px) {
    .expense-bar {
        flex-direction: column;
    }
    .expense-bar {
        height: auto;
        gap: 10px;
    }
    .type-expense-container {
        width: 100%;
        height: 90px;
    }
    .type-expense-container .food,
    .type-expense-container .card,
    .type-expense-container .ticket  {
        left: 80%;
        font-size: 90px;
    }
}